.slider-control-bottomcenter button {
    background: #FFF !important;
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
}

.slider-control-bottomcenter svg {
    display: none !important;
}

.slider-control-bottomcenter li {
    margin-right: 5px;
}

.slider-swipe-button-left {
    height: 80px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    border-radius: 0 10px 10px 0;
    border-style: none;
    transition: all 0.1s ease-out;

}

.slider-swipe-button-right {
    height: 80px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    border-radius: 10px 0 0 10px;
    border-style: none;
    transition: all 0.1s ease-out;

}

.slider-swipe-button-left:hover,
.slider-swipe-button-right:hover {
    transform: scale(1.05);
    transition: all 0.1s ease-out;

}